// Commons

:root {
  --color01: #F7D763;
  --color02: #FAB439;
  --color03: #F49835;
  --color04: #F6A145;
  --color05: #F08332;
  --color06: #ED6E2A;
  --color07: #EA5628;
  --color08: #B33623;
  --color09: #CA181A;
  --color10: #921B23;

  --anthracite: #323334;
  --light-grey: #F4F4F4;
  --color01-lighter: #ffe587;
}

h1 {
  color: var(--color09);
  font-size: 3em;
  font-weight: 900;
}

h3 {
  color: var(--color09);
  font-size: 2em;
  font-weight: bold;
}

h1 + h3 {
  margin-top: 0;
}

main {
  text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

  // Phones
  @media (max-width: 768px) {
    max-width: 50em;
  }

  // Tablets
  @media (min-width: 769px) and (max-width: 1023px) {
    margin-left: auto;
    margin-right: auto;
    min-width: 90%;
  }

  // Desktops
  @media (min-width: 1024px) {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
  }
}

.is-grid {
  display: grid;
}
.is-hidden {
  display: none !important;
}
.is-bold {
  font-weight: bold;
}
.has-text-centered {
  text-align: center;
}
.icon {
  width: 1em;
  height: 1em;
  color: var(--anthracite);
  fill: white;
  vertical-align: middle;
  cursor: pointer;
}
button.pressed {
  background-color: var(--color09);
  color: white;
}