// Commons

:root {
  --color01: #F7D763;
  --color02: #FAB439;
  --color03: #F49835;
  --color04: #F6A145;
  --color05: #F08332;
  --color06: #ED6E2A;
  --color07: #EA5628;
  --color08: #B33623;
  --color09: #CA181A;
  --color10: #921B23;

  --anthracite: #323334;
  --light-grey: #F4F4F4;
  --color-primary: var(--color06);
  --color-background-intro: #f47437;
  --color-titles-intro: rgba(244,116,55, 0.95);
  --color-background-chat: #fef5ec;
}

body {
  min-height: 100vh;
  padding: 0;
}

h1, h3 {
  color: var(--color-primary);
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h3 {
  font-size: 2em;
  font-weight: bold;
}

h1 + h3 {
  margin-top: 0;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
    margin-left: auto;
    margin-right: auto;

  // Phones
  @media (max-width: 768px) {
    width: 98% !important;
  }

  // Tablets
  @media (min-width: 769px) and (max-width: 1023px) {
    width: 90% !important;
  }

  // Desktops
  @media (min-width: 1024px) {
    width: 33em !important;
  }
}

.is-grid {
  display: grid;
}
.is-hidden {
  display: none !important;
}
.is-bold {
  font-weight: bold;
}
.has-text-centered {
  text-align: center;
}
.is-flex {
  display: flex;
}
.has-align-items-center {
  align-items: center;
}
.has-justify-content-center {
  justify-content: center;
}
.is-uppercase {
  text-transform: uppercase;
}
.is-small {
  font-size: 0.75em;
}
.icon {
  width: 1em;
  height: 1em;
  color: var(--anthracite);
  fill: white;
  vertical-align: top;
  cursor: pointer;
}
button.pressed {
  background-color: var(--color-primary);
  color: white;
}
